*{
  font-family: 'Source Sans Pro', sans-serif;
}
html{
  background: #FFED54;
}
.row .col{
  padding: 0px;
}

.content,.sidebar{
  padding: 20px;
}

.content{
    text-align: justify;
}
p{
  font-size: 1.4em;
}
.sidebar{
  background: black;
  height: 100%;
  width: 23vw;
  position: fixed;
  color:white;

  line-height: 1;

}
img {
  max-width: 100%;
  border: 3px solid white;
}
