*{
  font-family: 'Source Sans Pro', sans-serif;
}
html{
  background: #FFED54;
}
.row .col{
  padding: 0px;
}

.sidebar,.content{
  padding: 20px !important;
  margin-bottom: -20px !important;
}

.content{
  /*padding-top: 20px !important;*/
  text-align: justify;
}
p{
  font-size: 1.4em;
}
.sidebar{
  background: black;
  height: 100vh;
  color:white;
  line-height: 1;

}
nav, nav ul{
  box-shadow: none;
  background: black;
  border-radius: 5px;
}
nav ul a{
  font-size:20px;
}
nav ul a:hover{
  background: #FFED54;
  color :black;
  outline-width: thin;
  outline : solid;
  outline-offset: -3px;
}
.side-nav{
  width:25vw;
}

img {
  max-width: 100%;
  border: 3px solid white;
}
.x text{
  display:none;
}
select {
  display:inline;
  border :3px solid;
  background-color: #FFED54;
}
select:focus{
  outline: none;
}
button{
  margin-right:5px;
}
.tooltip{
  padding: 5px;
	border: 2px solid;
	border-radius: 4px;
	background-color: black;
  color: white;
	opacity:0.7 ;
	justify-content: center;
	align-items: center;
}
.areachart .x text{
  display: inline;
}
